<!DOCTYPE html>
<html lang= "en">
<head>
     <meta charset="UTF-8">

     <title>Memoria</title>
     <link rel="stylesheet" href="styles.css">
</head>
<body>
    <section class="memory-game">
        <div class="memory-card" data-framework="abeja">
            <img class="front-face" src="img/abeja.jpg"
              alt= "Abeja" />
            <img class="back-face" src="img/tapa.jpg"
               alt="Tapa" />
        </div>
        <div class="memory-card" data-framework="abeja">
            <img class="front-face" src="img/abeja1.jpg"
              alt= "Abeja1" />
            <img class="back-face" src="img/tapa.jpg"
               alt="Tapa" />
        </div>
        <div class="memory-card" data-framework="caracol">
            <img class="front-face" src="img/caracol.jpg"
              alt= "Caracol" />
            <img class="back-face" src="img/tapa.jpg"
               alt="Tapa" />
        </div>
        <div class="memory-card" data-framework="caracol">
            <img class="front-face" src="img/caracol1.jpg"
              alt= "Caracol1" />
            <img class="back-face" src="img/tapa.jpg"
               alt="Tapa" />
        </div>
        <div class="memory-card" data-framework="gato">
            <img class="front-face" src="img/gato.jpg"
              alt= "Gato" />
            <img class="back-face" src="img/tapa.jpg"
               alt="Tapa" />
        </div>
        <div class="memory-card" data-framework="gato">
            <img class="front-face" src="img/gato1.jpg"
              alt= "Gato1" />
            <img class="back-face" src="img/tapa.jpg"
               alt="Tapa" />
        </div>
        <div class="memory-card" data-framework="pajaro">
            <img class="front-face" src="img/pajaro.jpg"
              alt= "Pajaro" />
            <img class="back-face" src="img/tapa.jpg"
               alt="Tapa" />
        </div>
        <div class="memory-card" data-framework="pajaro">
            <img class="front-face" src="img/pajaro1.jpg"
              alt= "Pajaro1" />
            <img class="back-face" src="img/tapa.jpg"
               alt="Tapa" />
        </div>
        <div class="memory-card" data-framework="perro">
            <img class="front-face" src="img/perro.jpg"
              alt= "Perro" />
            <img class="back-face" src="img/tapa.jpg"
               alt="Tapa" />
        </div>
        <div class="memory-card" data-framework="perro">
            <img class="front-face" src="img/perro1.jpg"
              alt= "Perro1" />
            <img class="back-face" src="img/tapa.jpg"
               alt="Tapa" />
        </div>
        <div class="memory-card" data-framework="vaca"> 
            <img class="front-face" src="img/vaca.jpg"
              alt= "Vaca" />
            <img class="back-face" src="img/tapa.jpg"
               alt="Tapa" />
        </div>
        <div class="memory-card" data-framework="vaca">
            <img class="front-face" src="img/vaca1.jpg"
              alt= "Vaca1" />
            <img class="back-face" src="img/tapa.jpg"
               alt="Tapa" />
        </div>
    </section>
    <script src="scripts.js"></script>
</body>
</html> 